body {
    background-image: url("https://i.imgur.com/If1JaaE.jpeg");
    background-size: cover;
    background-color: black;
}

.hidden{
    display: none
}

.note-title:hover{
    cursor: pointer
}

.spinner-border {
    margin-top: 20%;
    margin-left: 50%;
    margin-right: 50%;
}

